:root {
  --albastru-deschis: #2954C7;
  --galben: #F9FC61;
  --mov: #EF75FF;
  --albastru: #051130;
}

h1 {
  width: 100%;
  font-family: 'Nunito', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}


* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

}

a {
  color: #fff;
  text-decoration: none;
  display: flex;
}

nav {
  background-color: var(--albastru);
  color: var(--albastru);
  position: fixed;
  top: 0;
  height: 130px;
  line-height: 60px;
  width: 100vw;
  z-index: 13;
  display: flex;
}


li.nav-item>a:hover {
  color: rgb(239, 243, 17);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

li.nav-item {
  list-style: none;
  margin-right: 2%;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  padding: 10px;
}

li.nav-item>a {
  color: #fff;
}

.nav-item.button>a {
  color: #fff;

}

.nav-item.button {
  border-color: #2954C7;
  background-color: var(--albastru-deschis);
  border-radius: 10px;
  padding-right: 3.4%;
  padding-left: 3.4%;
  padding-top: 0;
  padding-bottom: 0;

}


.container-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  z-index: 101;
  position: relative;
  width: 100%;
  background-color: var(--hoverColor);
}

.container-nav>a {
  display: flex;
  align-self: center;
}

.logo > img {
  align-self: flex-start;
  display: flex;
  width: 100px;
}

.iteme {
  width: 50%;
}


.navbar-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}






.dropdown {
  position: absolute;

  /* height: 240px; */
  width: 265px;
  margin-top: 30px;
  background-color: #4CCE8E;
  border-radius: 20px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}

.dropdown>a {
  display: block;
  font-size: 1.12rem;
  margin: 12px 0;
  color: black;
  text-align: left;
  padding: 0 12px;
}

.dropdown>a:hover {
  color: #ffffff;
}

/* Burger */

@media screen and (max-width: 999px) {

  #containerLogoBurger.open #burgerLine {
      background: transparent; 
  }
}




@media screen and (max-width: 820px) {

  

  .desenOverlay {
    width: 874px;
    position: relative;
    display: flex;
    align-self: flex-start;
  }


  .container-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

  }

  .iteme {
      display: none;
  }

  .logo {
      width: 10%;
      padding-left: 30px;
  }


  #backdrop {
      position: fixed;
      width: 100vw;
      height: 100%;
      z-index: 2;
      background: var(--albastru);
      overflow: hidden;
  }

  #containerBurger {
      display: flex;
  }


  #containerLogoBurger {
      display: flex;
      position: relative;
      width: 60px;
      height: 50px;
      margin-right: 30px;

      transition: all .5s ease-in-out;
  }

  #burgerLine {
      background: #fff;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 5px;
      border-radius: 10px;
      transition: all .5s ease-in-out;
  }

  #burgerLine::before,
  #burgerLine::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 5px;
      border-radius: 10px;
      background: #fff;
      transition: all .5s ease-in-out;
  }

  #burgerLine::before {
      transform: translateY(-10px);
  }

  #burgerLine::after {
      transform: translateY(10px);
  }

  #containerLogoBurger.open {
      border: none;
  }

  

  #containerLogoBurger.open #burgerLine::before {
      transform: rotate(-45deg);
  }

  #containerLogoBurger.open #burgerLine::after {
      transform: rotate(45deg);
  }

  #containerBurgerStuff {
      font-size: 2.5rem;
      padding-top: 150px;
      position: relative;
      padding-bottom: 10px;
      
      width: 100%;
      height: 100%;
      flex-direction: column;
      text-decoration: none;
      transition: right 0.3s cubic-bezier(0.82, 0.085, 0.395, 0.895);
  }

  #burgerListContainer {
      position: absolute;
      width: 100%;
      max-width: none;
      color: #fff;
      z-index: 12;
      transition: right 0.3s cubic-bezier(0.82, 0.085, 0.395, 0.895);
      font-size: 1.2rem;
      font-weight: bold;
  }

  #burgerListContainer>ul {
      text-decoration: none;
      transition: all 0.5s ease-in;
  }

  #burgerLinks>ul>li {
      list-style: none;
      padding-left: 30px;
      padding-top: 25px;
      width: 100%;
  }

  .containerPozeOverlay {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: flex-start;
      padding-left: 10px;

  }

  .containerPozeOverlay>li>a>img {
      width: 100px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
  }

  

  .burgerNav>li>a>button {
      font-weight: 600;
      color: #fff;
      font-size: 2rem;
      border-color: #2954C7;
      background-color: var(--albastru-deschis);
      border-radius: 10px;
      padding: 10px 20px;
      margin-bottom: 30px;
  }


}
@media screen and (max-width: 850px) {}



@media screen and (max-width: 500px) {
  
  
 

  .container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.iteme {
    display: none;
}

.logo {
    width: 10%;
    padding-left: 30px;
}


#backdrop {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: 2;
    background: var(--albastru);
    overflow: hidden;
}

#containerBurger {
    display: flex;
}


#containerLogoBurger {
    display: flex;
    position: relative;
    width: 60px;
    height: 50px;
    margin-right: 30px;

    transition: all .5s ease-in-out;
}

#burgerLine {
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 5px;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

#burgerLine::before,
#burgerLine::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background: #fff;
    transition: all .5s ease-in-out;
}

#burgerLine::before {
    transform: translateY(-10px);
}

#burgerLine::after {
    transform: translateY(10px);
}

#containerLogoBurger.open {
    border: none;
}



#containerLogoBurger.open #burgerLine::before {
    transform: rotate(-45deg);
}

#containerLogoBurger.open #burgerLine::after {
    transform: rotate(45deg);
}

#containerBurgerStuff {
    font-size: 2.5rem;
    padding-top: 150px;
    position: relative;
    padding-bottom: 10px;
    
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-decoration: none;
}

#burgerListContainer {
    position: absolute;
    width: 100%;
    max-width: none;
    color: #fff;
    z-index: 12;
    transition: right 0.3s cubic-bezier(0.82, 0.085, 0.395, 0.895);
    font-size: 1.2rem;
    font-weight: bold;
}

#burgerListContainer>ul {
    text-decoration: none;
    transition: all 0.5s ease-in;
}

#burgerLinks>ul>li {
    list-style: none;
    padding-left: 30px;
    padding-top: 25px;
    font-size: 2rem;

}

.containerPozeOverlay {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    padding-left: 10px;

}

.containerPozeOverlay>li>a>img {
    width: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}



.burgerNav>li>a>button {
    font-weight: 600;
    color: #fff;
    font-size: 2rem;
    border-color: #2954C7;
    background-color: var(--albastru-deschis);
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 30px;
}

 


}

@media screen and (max-width: 290px) {
  .titluri {
      width: 128px;
  }

  .logo {
      width: 158px;
  }

  .logo>img {
      width: 30px;
  }

  .titluri>h1 {
      font-size: .77em;
  }

  .titluri>h4 {
      font-size: .5em;
  }
}