* {
  border: 0;
  box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  li {
    font-family: 'Nunito', sans-serif;
  }

  body {
    background: rgb(250, 250, 250) url(http://lorempixel.com/1920/1080/nature/);
    font-family: Lato, Helvetica, Arial, sans-serif;
  }
  
  a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
  }
  
  
  :root {
    --albastru-deschis: #2954C7;
    --galben: #F9FC61;
    --mov: #EF75FF;
    --albastru: #051130;
  }
  
  /*======================================================
  Navbar
  ======================================================*/
  @media (min-width: 1281px) {
    .overlay-menu {
      display: none;
    }
  } 
  
  #navbar {
    background-color: var(--albastru);
    color: var(--albastru);
    position: fixed;
    top: 0;
    height: 100px;
    line-height: 60px;
    width: 100vw;
    z-index: 13;
    display:flex;
}
#navbar>.nav-wrapper>.logo>a>img {
    padding-top: 10px;
  width: 80%;
}
  
  .nav-wrapper {
    margin: auto;
    text-align: right;
    width: 90%;
  } @media(max-width: 768px) {
      .nav-wrapper {
        width: 90%;
      }
    } @media(max-width: 638px) {
        .nav-wrapper {
          width: 100%;
        }
      } 
  

  .logo {
    float: left;
    font-size: 1.5em;
    height: 60px;
    letter-spacing: 1px;
    z-index: 13;
  }
  
  #navbar ul {
    display: inline-block;
    
    list-style: none;
    /* margin-right: 14px; */
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
  } @media(max-width: 640px) {
      #navbar ul {
        display: none;
      }
    } @media(orientation: landscape) {
        #navbar ul {
          display: inline-block;
        }
      }
  
  #navbar li {
    display: inline-block;
  }
  
  #navbar li a {
    color: #fff;
    display: block;
    font-size: 1em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 40px;
    position: relative;
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }

  #navbar li  button {
    border: 10px ;
    border-color: #2954C7;
    
    background-color: var(--albastru-deschis);
    border-radius: 10px;
  }

  #navbar li  button a {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  #navbar li a:hover {
    /* border-bottom: 1px solid rgb(28, 121, 184); */
    color: rgb(251, 255, 41);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  
  

  
  /*======================================================
                      Mobile Menu Menu Icon
    ======================================================*/
  @media(max-width: 1101px) {

    #navbar li a {
        display: none;
      }

    .menuIcon {
      cursor: pointer;
      display: block;
      position: fixed;
      right: 15px;
      top: 40px;
      height: 20px;
      width: 47px;
      z-index: 13;
    }
  
    /* Icon Bars */
    .icon-bars {
      background: #fff;
      position: absolute;
      left: 1px;
      top: 45%;
      height: 2px;
      width: 20px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    } 
  
    .icon-bars::before {
      background: #fff;
      content: '';
      position: absolute;
      left: 0;
      top: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    .icon-bars::after {
      margin-top: 0px;
      background: #fff;
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
      top: 5px;
      transform: translate3d(0, 5px, 0) rotate(135deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .menuIcon.toggle .icon-bars::before {
      top: 0;
      transition-delay: 0.1s;
      opacity: 0;
    }
    
    .menuIcon.toggle .icon-bars::after {
      top: 10px;
      transform: translate3d(0, -10px, 0) rotate(-270deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars.overlay {
      width: 20px;
      opacity: 0;
      -webkit-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
    }
  }
  
  
  /*======================================================
                     Responsive Mobile Menu 
    ======================================================*/
  .overlay-menu {
    position: fixed;
    width: 100%;
    max-width: none;
    height: 100vh;
    ;
    color: #fff;
    background-color: #061231;
    z-index: 12;
    transition: right 0.3s cubic-bezier(0.82, 0.085, 0.395, 0.895);
    font-size: 1.2rem;
    font-weight: bold;
  }


  .overlay-menu > #menu> li {
    padding-left: 30px;
    padding-top: 20px;
  }

  .containerPoze {
    display: flex;
    width: 70%;
    padding-left: 30px;
    
  }

  .overlay-menu > #menu >  .containerPoze > .instagram-logo,
  .overlay-menu > #menu > .containerPoze > .gmail-logo
  {
    margin-top: 0px;
    margin-right: 20px;
    width: 20%;
  }

  .overlay-menu > #menu img {
    position: relative;
    width: 100%;
    padding: 160px 16px px 0px;
    z-index: 12;
    margin-top: 10%;
  }

  .desenOffscreen {
    padding-top: 25%;
  }

  .overlay-menu > #menu > li > button {
    border: 10px ;
    border-color: #2954C7;
    padding: 10px;
    background-color: var(--albastru-deschis);
    border-radius: 10px;
    margin-top: 10px;
  }

  .overlay-menu #menu li  button a {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;

  }
  
  .overlay-menu ul, .overlay-menu li {
    display: block;
    position: relative;
    
  }
  
  .overlay-menu li a {
    padding: 110px 16px 60px 30px;
    display: block;
    font-size: 1.8em;
    letter-spacing: 4px;
  /*   opacity: 0; */
    padding: 10px 0;
    text-align: left;
    
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  /*   -webkit-transition: 0.2s opacity 0.2s ease-out;
    transition: 0.2s opacity 0.2s ease-out; */
  }
  
  .overlay-menu li a:hover,
  #menu li  button a:hover,
  .overlay-menu li a:active {
    color: rgb(239, 243, 17);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

