* {
    margin: 0;
}



body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #faf6f6;
}

a {
    text-decoration: none;
}

:root {
    --albastru-deschis: #2954C7;
    --galben: #F9FC61;
    --mov: #EF75FF;
    --albastru: #051130;
}

h1 {
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* TITLURI */

.sectiuneProiecte>h1 {
    font-size: 1.6rem;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    padding-left: 45px;
}

.sectiuneProiecte>p {
    color: var(--albastru-deschis);
    display: flex;
    align-self: flex-start;
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 45px;
    padding-top: 100px;
}

.sectiuneProiecte> .desen {
   width: 100%;
}



.sectiuneProiecte {
    display: flex;
    align-items: center;
    margin-top: 0px;
    justify-content: center;
}



.containerProiecte {
    width: 100%;
    box-shadow: 2px 4px 8px 1px rgb(163, 160, 160);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:  flex-start;
    padding: 50px;
}

.instagram {
    display: flex;
}

.gmail {
    display: flex;
}


.containerProiecte>.gmail>h1 {
    font-size: 1.3rem;
        padding: 20px;
}

.containerProiecte>.instagram>h1 {
    font-size: 1.25rem;
        padding: 20px;
}

.containerProiecte>.gmail>img {
    display: flex;
    align-self: flex-start;
    width: 105px;
    padding: 10px;
    padding-left: 50px;
    padding-bottom: 40px;
}

.containerProiecte>.instagram>img {
    display: flex;
    align-self: flex-start;
    width: 105px;
    padding: 10px;
    padding-left: 50px;
}


/* TABLETE */


@media (min-width: 768px) {


    .sectiuneProiecte> .desen {
        padding-top: 0px;
        width: 70%;
    }


    .sectiuneProiecte>p {
        padding-top: 100px;
        font-size: 2rem;
    }

    .sectiuneProiecte>h1 {
        font-size: 2rem;
        width: 80%;
    }

    .containerProiecte>.instagram>h1 {
        font-size: 2rem;
        padding: 20px;
    }

    .containerProiecte>.gmail>h1 {
        font-size: 2rem;
        padding: 20px;
    }



    .containerProiecte>.gmail>img {
        display: flex;
        align-self: flex-start;
        width: 105px;
        padding: 10px;
        padding-left: 50px;
        padding-bottom: 40px;
    }

    .containerProiecte>.instagram>img {
        display: flex;
        align-self: flex-start;
        width: 105px;
        padding: 10px;
        padding-left: 50px;
    }
    


}


/* LAPTOP & DESKTOP */


@media (min-width: 1281px) {

    .sectiuneProiecte> .desen {
        padding-top: 0px;
        width: 70%;
    }


    .sectiuneProiecte>p {
        padding-top: 100px;
        font-size: 2rem;
    }

    .sectiuneProiecte>h1 {
        padding-top: 20px;
        font-size: 3rem;
    }

    .containerProiecte {
        width: 92%;

    }
    


}


#stars {
    width: 1px;
    height: 1px;
    background: #051130;
    animation: animStar 100s linear infinite;
    box-shadow: 779px 1331px #2954C7, 324px 42px #2954C7, 303px 586px #2954C7,
    1312px 276px #b3ff00, 451px 625px #2954C7, 521px 1931px #2954C7, 1087px 1871px #2954C7,
    36px 1546px #2954C7, 132px 934px #2954C7, 1698px 901px #2954C7, 1418px 664px #2954C7,
    1448px 1157px #2954C7, 1084px 232px #2954C7, 347px 1776px #2954C7, 1722px 243px #2954C7,
    1629px 835px #2954C7, 479px 969px #2954C7, 1231px 960px #2954C7, 586px 384px #2954C7,
    164px 527px #2954C7, 8px 646px #2954C7, 1150px 1126px #2954C7, 665px 1357px #2954C7,
    1556px 1982px #2954C7, 1260px 1961px #2954C7, 1675px 1741px #2954C7,
    1843px 1514px #2954C7, 718px 1628px #2954C7, 242px 1343px #2954C7, 1497px 1880px #2954C7,
    1364px 230px #2954C7, 1739px 1302px #2954C7, 636px 959px #2954C7, 304px 686px #2954C7,
    614px 751px #2954C7, 1935px 816px #2954C7, 1428px 60px #2954C7, 355px 335px #2954C7,
    1594px 158px #2954C7, 90px 60px #2954C7, 1553px 162px #2954C7, 1239px 1825px #2954C7,
    1945px 587px #2954C7, 749px 1785px #2954C7, 1987px 1172px #2954C7, 1301px 1237px #2954C7,
    1039px 342px #2954C7, 1585px 1481px #2954C7, 995px 1048px #2954C7, 524px 932px #2954C7,
    214px 413px #2954C7, 1701px 1300px #2954C7, 1037px 1613px #2954C7, 1871px 996px #2954C7,
    1360px 1635px #2954C7, 1110px 1313px #2954C7, 412px 1783px #2954C7, 1949px 177px #2954C7,
    903px 1854px #2954C7, 700px 1936px #2954C7, 378px 125px #2954C7, 308px 834px #2954C7,
    1118px 962px #2954C7, 1350px 1929px #2954C7, 781px 1811px #2954C7, 561px 137px #2954C7,
    757px 1148px #2954C7, 1670px 1979px #2954C7, 343px 739px #2954C7, 945px 795px #2954C7,
    576px 1903px #2954C7, 1078px 1436px #2954C7, 1583px 450px #2954C7, 1366px 474px #2954C7,
    297px 1873px #2954C7, 192px 162px #2954C7, 1624px 1633px #2954C7, 59px 453px #2954C7,
    82px 1872px #2954C7, 1933px 498px #2954C7, 1966px 1974px #2954C7, 1975px 1688px #2954C7,
    779px 314px #2954C7, 1858px 1543px #2954C7, 73px 1507px #2954C7, 1693px 975px #2954C7,
    1683px 108px #2954C7, 1768px 1654px #2954C7, 654px 14px #2954C7, 494px 171px #2954C7,
    1689px 1895px #2954C7, 1660px 263px #2954C7, 1031px 903px #2954C7, 1203px 1393px #2954C7,
    1333px 1421px #2954C7, 1113px 41px #2954C7, 1206px 1645px #2954C7, 1325px 1635px #2954C7,
    142px 388px #2954C7, 572px 215px #2954C7, 1535px 296px #2954C7, 1419px 407px #2954C7,
    1379px 1003px #2954C7, 329px 469px #2954C7, 1791px 1652px #2954C7, 935px 1802px #2954C7,
    1330px 1820px #2954C7, 421px 1933px #2954C7, 828px 365px #2954C7, 275px 316px #2954C7,
    707px 960px #2954C7, 1605px 1554px #2954C7, 625px 58px #2954C7, 717px 1697px #2954C7,
    1669px 246px #2954C7, 1925px 322px #2954C7, 1154px 1803px #2954C7, 1929px 295px #2954C7,
    1248px 240px #2954C7, 1045px 1755px #2954C7, 166px 942px #2954C7, 1888px 1773px #2954C7,
    678px 1963px #2954C7, 1370px 569px #2954C7, 1974px 1400px #2954C7, 1786px 460px #2954C7,
    51px 307px #2954C7, 784px 1400px #2954C7, 730px 1258px #2954C7, 1712px 393px #2954C7,
    416px 170px #2954C7, 1797px 1932px #2954C7, 572px 219px #2954C7, 1557px 1856px #2954C7,
    218px 8px #2954C7, 348px 1334px #2954C7, 469px 413px #2954C7, 385px 1738px #2954C7,
    1357px 1818px #2954C7, 240px 942px #2954C7, 248px 1847px #2954C7, 1535px 806px #2954C7,
    236px 1514px #2954C7, 1429px 1556px #2954C7, 73px 1633px #2954C7, 1398px 1121px #2954C7,
    671px 1301px #2954C7, 1404px 1663px #2954C7, 740px 1018px #2954C7, 1600px 377px #2954C7,
    785px 514px #2954C7, 112px 1084px #2954C7, 1915px 1887px #2954C7, 1463px 1848px #2954C7,
    687px 1115px #2954C7, 1268px 1768px #2954C7, 1729px 1425px #2954C7,
    1284px 1022px #2954C7, 801px 974px #2954C7, 1975px 1317px #2954C7, 1354px 834px #2954C7,
    1446px 1484px #2954C7, 1283px 1786px #2954C7, 11px 523px #2954C7, 1842px 236px #2954C7,
    1355px 654px #2954C7, 429px 7px #2954C7, 1033px 1128px #2954C7, 157px 297px #2954C7,
    545px 635px #2954C7, 52px 1080px #2954C7, 827px 1520px #2954C7, 1121px 490px #2954C7,
    9px 309px #2954C7, 1744px 1586px #2954C7, 1014px 417px #2954C7, 1534px 524px #2954C7,
    958px 552px #2954C7, 1403px 1496px #2954C7, 387px 703px #2954C7, 1522px 548px #2954C7,
    1355px 282px #2954C7, 1532px 601px #2954C7, 1838px 790px #2954C7, 290px 259px #2954C7,
    295px 598px #2954C7, 1601px 539px #2954C7, 1561px 1272px #2954C7, 34px 1922px #2954C7,
    1024px 543px #2954C7, 467px 369px #2954C7, 722px 333px #2954C7, 1976px 1255px #2954C7,
    766px 983px #2954C7, 1582px 1285px #2954C7, 12px 512px #2954C7, 617px 1410px #2954C7,
    682px 577px #2954C7, 1334px 1438px #2954C7, 439px 327px #2954C7, 1617px 1661px #2954C7,
    673px 129px #2954C7, 794px 941px #2954C7, 1386px 1902px #2954C7, 37px 1353px #2954C7,
    1467px 1353px #2954C7, 416px 18px #2954C7, 187px 344px #2954C7, 200px 1898px #2954C7,
    1491px 1619px #2954C7, 811px 347px #2954C7, 924px 1827px #2954C7, 945px 217px #2954C7,
    1735px 1228px #2954C7, 379px 1890px #2954C7, 79px 761px #2954C7, 825px 1837px #2954C7,
    1980px 1558px #2954C7, 1308px 1573px #2954C7, 1488px 1726px #2954C7,
    382px 1208px #2954C7, 522px 595px #2954C7, 1277px 1898px #2954C7, 354px 552px #2954C7,
    161px 1784px #2954C7, 614px 251px #2954C7, 526px 1576px #2954C7, 17px 212px #2954C7,
    179px 996px #2954C7, 467px 1208px #2954C7, 1944px 1838px #2954C7, 1140px 1093px #2954C7,
    858px 1007px #2954C7, 200px 1064px #2954C7, 423px 1964px #2954C7, 1945px 439px #2954C7,
    1377px 689px #2954C7, 1120px 1437px #2954C7, 1876px 668px #2954C7, 907px 1324px #2954C7,
    343px 1976px #2954C7, 1816px 1501px #2954C7, 1849px 177px #2954C7, 647px 91px #2954C7,
    1984px 1012px #2954C7, 1336px 1300px #2954C7, 128px 648px #2954C7, 305px 1060px #2954C7,
    1324px 826px #2954C7, 1263px 1314px #2954C7, 1801px 629px #2954C7, 1614px 1555px #2954C7,
    1634px 90px #2954C7, 1603px 452px #2954C7, 891px 1984px #2954C7, 1556px 1906px #2954C7,
    121px 68px #2954C7, 1676px 1714px #2954C7, 516px 936px #2954C7, 1947px 1492px #2954C7,
    1455px 1519px #2954C7, 45px 602px #2954C7, 205px 1039px #2954C7, 793px 172px #2954C7,
    1562px 1739px #2954C7, 1056px 110px #2954C7, 1512px 379px #2954C7, 1795px 1621px #2954C7,
    1848px 607px #2954C7, 262px 1719px #2954C7, 477px 991px #2954C7, 483px 883px #2954C7,
    1239px 1197px #2954C7, 1496px 647px #2954C7, 1649px 25px #2954C7, 1491px 1946px #2954C7,
    119px 996px #2954C7, 179px 1472px #2954C7, 1341px 808px #2954C7, 1565px 1700px #2954C7,
    407px 1544px #2954C7, 1754px 357px #2954C7, 1288px 981px #2954C7, 902px 1997px #2954C7,
    1755px 1668px #2954C7, 186px 877px #2954C7, 1202px 1882px #2954C7, 461px 1213px #2954C7,
    1400px 748px #2954C7, 1969px 1899px #2954C7, 809px 522px #2954C7, 514px 1219px #2954C7,
    374px 275px #2954C7, 938px 1973px #2954C7, 357px 552px #2954C7, 144px 1722px #2954C7,
    1572px 912px #2954C7, 402px 1858px #2954C7, 1544px 1195px #2954C7, 667px 1257px #2954C7,
    727px 1496px #2954C7, 993px 232px #2954C7, 1772px 313px #2954C7, 1040px 1590px #2954C7,
    1204px 1973px #2954C7, 1268px 79px #2954C7, 1555px 1048px #2954C7, 986px 1707px #2954C7,
    978px 1710px #2954C7, 713px 360px #2954C7, 407px 863px #2954C7, 461px 736px #2954C7,
    284px 1608px #2954C7, 103px 430px #2954C7, 1283px 1319px #2954C7, 977px 1186px #2954C7,
    1966px 1516px #2954C7, 1287px 1129px #2954C7, 70px 1098px #2954C7, 1189px 889px #2954C7,
    1126px 1734px #2954C7, 309px 1292px #2954C7, 879px 764px #2954C7, 65px 473px #2954C7,
    1003px 1959px #2954C7, 658px 791px #2954C7, 402px 1576px #2954C7, 35px 622px #2954C7,
    529px 1589px #2954C7, 164px 666px #2954C7, 1876px 1290px #2954C7, 1541px 526px #2954C7,
    270px 1297px #2954C7, 440px 865px #2954C7, 1500px 802px #2954C7, 182px 1754px #2954C7,
    1264px 892px #2954C7, 272px 1249px #2954C7, 1289px 1535px #2954C7, 190px 1646px #2954C7,
    955px 242px #2954C7, 1456px 1597px #2954C7, 1727px 1983px #2954C7, 635px 801px #2954C7,
    226px 455px #2954C7, 1396px 1710px #2954C7, 849px 1863px #2954C7, 237px 1264px #2954C7,
    839px 140px #2954C7, 1122px 735px #2954C7, 1280px 15px #2954C7, 1318px 242px #2954C7,
    1819px 1148px #2954C7, 333px 1392px #2954C7, 1949px 553px #2954C7, 1878px 1332px #2954C7,
    467px 548px #2954C7, 1812px 1082px #2954C7, 1067px 193px #2954C7, 243px 156px #2954C7,
    483px 1616px #2954C7, 1714px 933px #2954C7, 759px 1800px #2954C7, 1822px 995px #2954C7,
    1877px 572px #2954C7, 581px 1084px #2954C7, 107px 732px #2954C7, 642px 1837px #2954C7,
    166px 1493px #2954C7, 1555px 198px #2954C7, 819px 307px #2954C7, 947px 345px #2954C7,
    827px 224px #2954C7, 927px 1394px #2954C7, 540px 467px #2954C7, 1093px 405px #2954C7,
    1140px 927px #2954C7, 130px 529px #2954C7, 33px 1980px #2954C7, 1147px 1663px #2954C7,
    1616px 1436px #2954C7, 528px 710px #2954C7, 798px 1100px #2954C7, 505px 1480px #2954C7,
    899px 641px #2954C7, 1909px 1949px #2954C7, 1311px 964px #2954C7, 979px 1301px #2954C7,
    1393px 969px #2954C7, 1793px 1886px #2954C7, 292px 357px #2954C7, 1196px 1718px #2954C7,
    1290px 1994px #2954C7, 537px 1973px #2954C7, 1181px 1674px #2954C7,
    1740px 1566px #2954C7, 1307px 265px #2954C7, 922px 522px #2954C7, 1892px 472px #2954C7,
    384px 1746px #2954C7, 392px 1098px #2954C7, 647px 548px #2954C7, 390px 1498px #2954C7,
    1246px 138px #2954C7, 730px 876px #2954C7, 192px 1472px #2954C7, 1790px 1789px #2954C7,
    928px 311px #2954C7, 1253px 1647px #2954C7, 747px 1921px #2954C7, 1561px 1025px #2954C7,
    1533px 1292px #2954C7, 1985px 195px #2954C7, 728px 729px #2954C7, 1712px 1936px #2954C7,
    512px 1717px #2954C7, 1528px 483px #2954C7, 313px 1642px #2954C7, 281px 1849px #2954C7,
    1212px 799px #2954C7, 435px 1191px #2954C7, 1422px 611px #2954C7, 1718px 1964px #2954C7,
    411px 944px #2954C7, 210px 636px #2954C7, 1502px 1295px #2954C7, 1434px 349px #2954C7,
    769px 60px #2954C7, 747px 1053px #2954C7, 789px 504px #2954C7, 1436px 1264px #2954C7,
    1893px 1225px #2954C7, 1394px 1788px #2954C7, 1108px 1317px #2954C7,
    1673px 1395px #2954C7, 854px 1010px #2954C7, 1705px 80px #2954C7, 1858px 148px #2954C7,
    1729px 344px #2954C7, 1388px 664px #2954C7, 895px 406px #2954C7, 1479px 157px #2954C7,
    1441px 1157px #2954C7, 552px 1900px #2954C7, 516px 364px #2954C7, 1647px 189px #2954C7,
    1427px 1071px #2954C7, 785px 729px #2954C7, 1080px 1710px #2954C7, 504px 204px #2954C7,
    1177px 1622px #2954C7, 657px 34px #2954C7, 1296px 1099px #2954C7, 248px 180px #2954C7,
    1212px 1568px #2954C7, 667px 1562px #2954C7, 695px 841px #2954C7, 1608px 1247px #2954C7,
    751px 882px #2954C7, 87px 167px #2954C7, 607px 1368px #2954C7, 1363px 1203px #2954C7,
    1836px 317px #2954C7, 1668px 1703px #2954C7, 830px 1154px #2954C7, 1721px 1398px #2954C7,
    1601px 1280px #2954C7, 976px 874px #2954C7, 1743px 254px #2954C7, 1020px 1815px #2954C7,
    1670px 1766px #2954C7, 1890px 735px #2954C7, 1379px 136px #2954C7, 1864px 695px #2954C7,
    206px 965px #2954C7, 1404px 1932px #2954C7, 1923px 1360px #2954C7, 247px 682px #2954C7,
    519px 1708px #2954C7, 645px 750px #2954C7, 1164px 1204px #2954C7, 834px 323px #2954C7,
    172px 1350px #2954C7, 213px 972px #2954C7, 1837px 190px #2954C7, 285px 1806px #2954C7,
    1047px 1299px #2954C7, 1548px 825px #2954C7, 1730px 324px #2954C7, 1346px 1909px #2954C7,
    772px 270px #2954C7, 345px 1190px #2954C7, 478px 1433px #2954C7, 1479px 25px #2954C7,
    1994px 1830px #2954C7, 1744px 732px #2954C7, 20px 1635px #2954C7, 690px 1795px #2954C7,
    1594px 569px #2954C7, 579px 245px #2954C7, 1398px 733px #2954C7, 408px 1352px #2954C7,
    1774px 120px #2954C7, 1152px 1370px #2954C7, 1698px 1810px #2954C7, 710px 1450px #2954C7,
    665px 286px #2954C7, 493px 1720px #2954C7, 786px 5px #2954C7, 637px 1140px #2954C7,
    764px 324px #2954C7, 927px 310px #2954C7, 938px 1424px #2954C7, 1884px 744px #2954C7,
    913px 462px #2954C7, 1831px 1936px #2954C7, 1527px 249px #2954C7, 36px 1381px #2954C7,
    1597px 581px #2954C7, 1530px 355px #2954C7, 949px 459px #2954C7, 799px 828px #2954C7,
    242px 1471px #2954C7, 654px 797px #2954C7, 796px 594px #2954C7, 1365px 678px #2954C7,
    752px 23px #2954C7, 1630px 541px #2954C7, 982px 72px #2954C7, 1733px 1831px #2954C7,
    21px 412px #2954C7, 775px 998px #2954C7, 335px 1945px #2954C7, 264px 583px #2954C7,
    158px 1311px #2954C7, 528px 164px #2954C7, 1978px 574px #2954C7, 717px 1203px #2954C7,
    734px 1591px #2954C7, 1555px 820px #2954C7, 16px 1943px #2954C7, 1625px 1177px #2954C7,
    1236px 690px #2954C7, 1585px 1590px #2954C7, 1737px 1728px #2954C7, 721px 698px #2954C7,
    1804px 1186px #2954C7, 166px 980px #2954C7, 1850px 230px #2954C7, 330px 1712px #2954C7,
    95px 797px #2954C7, 1948px 1078px #2954C7, 469px 939px #2954C7, 1269px 1899px #2954C7,
    955px 1220px #2954C7, 1137px 1075px #2954C7, 312px 1293px #2954C7, 986px 1762px #2954C7,
    1103px 1238px #2954C7, 428px 1993px #2954C7, 355px 570px #2954C7, 977px 1836px #2954C7,
    1395px 1092px #2954C7, 276px 913px #2954C7, 1743px 656px #2954C7, 773px 502px #2954C7,
    1686px 1322px #2954C7, 1516px 1945px #2954C7, 1334px 501px #2954C7, 266px 156px #2954C7,
    455px 655px #2954C7, 798px 72px #2954C7, 1059px 1259px #2954C7, 1402px 1687px #2954C7,
    236px 1329px #2954C7, 1455px 786px #2954C7, 146px 1228px #2954C7, 1851px 823px #2954C7,
    1062px 100px #2954C7, 1220px 953px #2954C7, 20px 1826px #2954C7, 36px 1063px #2954C7,
    1525px 338px #2954C7, 790px 1521px #2954C7, 741px 1099px #2954C7, 288px 1489px #2954C7,
    700px 1060px #2954C7, 390px 1071px #2954C7, 411px 1036px #2954C7, 1853px 1072px #2954C7,
    1446px 1085px #2954C7, 1164px 874px #2954C7, 924px 925px #2954C7, 291px 271px #2954C7,
    1257px 1964px #2954C7, 1580px 1352px #2954C7, 1507px 1216px #2954C7, 211px 956px #2954C7,
    985px 1195px #2954C7, 975px 1640px #2954C7, 518px 101px #2954C7, 663px 1395px #2954C7,
    914px 532px #2954C7, 145px 1320px #2954C7, 69px 1397px #2954C7, 982px 523px #2954C7,
    257px 725px #2954C7, 1599px 831px #2954C7, 1636px 1513px #2954C7, 1250px 1158px #2954C7,
    1132px 604px #2954C7, 183px 102px #2954C7, 1057px 318px #2954C7, 1247px 1835px #2954C7,
    1983px 1110px #2954C7, 1077px 1455px #2954C7, 921px 1770px #2954C7, 806px 1350px #2954C7,
    1938px 1992px #2954C7, 855px 1260px #2954C7, 902px 1345px #2954C7, 658px 1908px #2954C7,
    1845px 679px #2954C7, 712px 1482px #2954C7, 595px 950px #2954C7, 1784px 1992px #2954C7,
    1847px 1785px #2954C7, 691px 1004px #2954C7, 175px 1179px #2954C7, 1666px 1911px #2954C7,
    41px 61px #2954C7, 971px 1080px #2954C7, 1830px 1450px #2954C7, 1351px 1518px #2954C7,
    1257px 99px #2954C7, 1395px 1498px #2954C7, 1117px 252px #2954C7, 1779px 597px #2954C7,
    1346px 729px #2954C7, 1108px 1144px #2954C7, 402px 691px #2954C7, 72px 496px #2954C7,
    1673px 1604px #2954C7, 1497px 974px #2954C7, 1865px 1664px #2954C7, 88px 806px #2954C7,
    918px 77px #2954C7, 244px 1118px #2954C7, 256px 1820px #2954C7, 1851px 1840px #2954C7,
    605px 1851px #2954C7, 634px 383px #2954C7, 865px 37px #2954C7, 943px 1024px #2954C7,
    1951px 177px #2954C7, 1097px 523px #2954C7, 985px 1700px #2954C7, 1243px 122px #2954C7,
    768px 1070px #2954C7, 468px 194px #2954C7, 320px 1867px #2954C7, 1850px 185px #2954C7,
    380px 1616px #2954C7, 468px 1294px #2954C7, 1122px 1743px #2954C7, 884px 299px #2954C7,
    1300px 1917px #2954C7, 1860px 396px #2954C7, 1270px 990px #2954C7, 529px 733px #2954C7,
    1975px 1347px #2954C7, 1885px 685px #2954C7, 226px 506px #2954C7, 651px 878px #2954C7,
    1323px 680px #2954C7, 1284px 680px #2954C7, 238px 1967px #2954C7, 911px 174px #2954C7,
    1111px 521px #2954C7, 1150px 85px #2954C7, 794px 502px #2954C7, 484px 1856px #2954C7,
    1809px 368px #2954C7, 112px 953px #2954C7, 590px 1009px #2954C7, 1655px 311px #2954C7,
    100px 1026px #2954C7, 1803px 352px #2954C7, 865px 306px #2954C7, 1077px 1019px #2954C7,
    1335px 872px #2954C7, 1647px 1298px #2954C7, 1233px 1387px #2954C7, 698px 1036px #2954C7,
    659px 1860px #2954C7, 388px 1412px #2954C7, 1212px 458px #2954C7, 755px 1468px #2954C7,
    696px 1654px #2954C7, 1144px 60px #2954C7;
}

#stars:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px #2954C7, 324px 42px #2954C7, 303px 586px #2954C7,
    1312px 276px #2954C7, 451px 625px #2954C7, 521px 1931px #2954C7, 1087px 1871px #2954C7,
    36px 1546px #2954C7, 132px 934px #2954C7, 1698px 901px #2954C7, 1418px 664px #2954C7,
    1448px 1157px #2954C7, 1084px 232px #2954C7, 347px 1776px #2954C7, 1722px 243px #2954C7,
    1629px 835px #2954C7, 479px 969px #2954C7, 1231px 960px #2954C7, 586px 384px #2954C7,
    164px 527px #2954C7, 8px 646px #2954C7, 1150px 1126px #2954C7, 665px 1357px #2954C7,
    1556px 1982px #2954C7, 1260px 1961px #2954C7, 1675px 1741px #2954C7,
    1843px 1514px #2954C7, 718px 1628px #2954C7, 242px 1343px #2954C7, 1497px 1880px #2954C7,
    1364px 230px #2954C7, 1739px 1302px #2954C7, 636px 959px #2954C7, 304px 686px #2954C7,
    614px 751px #2954C7, 1935px 816px #2954C7, 1428px 60px #2954C7, 355px 335px #2954C7,
    1594px 158px #2954C7, 90px 60px #2954C7, 1553px 162px #2954C7, 1239px 1825px #2954C7,
    1945px 587px #2954C7, 749px 1785px #2954C7, 1987px 1172px #2954C7, 1301px 1237px #2954C7,
    1039px 342px #2954C7, 1585px 1481px #2954C7, 995px 1048px #2954C7, 524px 932px #2954C7,
    214px 413px #2954C7, 1701px 1300px #2954C7, 1037px 1613px #2954C7, 1871px 996px #2954C7,
    1360px 1635px #2954C7, 1110px 1313px #2954C7, 412px 1783px #2954C7, 1949px 177px #2954C7,
    903px 1854px #2954C7, 700px 1936px #2954C7, 378px 125px #2954C7, 308px 834px #2954C7,
    1118px 962px #2954C7, 1350px 1929px #2954C7, 781px 1811px #2954C7, 561px 137px #2954C7,
    757px 1148px #2954C7, 1670px 1979px #2954C7, 343px 739px #2954C7, 945px 795px #2954C7,
    576px 1903px #2954C7, 1078px 1436px #2954C7, 1583px 450px #2954C7, 1366px 474px #2954C7,
    297px 1873px #2954C7, 192px 162px #2954C7, 1624px 1633px #2954C7, 59px 453px #2954C7,
    82px 1872px #2954C7, 1933px 498px #2954C7, 1966px 1974px #2954C7, 1975px 1688px #2954C7,
    779px 314px #2954C7, 1858px 1543px #2954C7, 73px 1507px #2954C7, 1693px 975px #2954C7,
    1683px 108px #2954C7, 1768px 1654px #2954C7, 654px 14px #2954C7, 494px 171px #2954C7,
    1689px 1895px #2954C7, 1660px 263px #2954C7, 1031px 903px #2954C7, 1203px 1393px #2954C7,
    1333px 1421px #2954C7, 1113px 41px #2954C7, 1206px 1645px #2954C7, 1325px 1635px #2954C7,
    142px 388px #2954C7, 572px 215px #2954C7, 1535px 296px #2954C7, 1419px 407px #2954C7,
    1379px 1003px #2954C7, 329px 469px #2954C7, 1791px 1652px #2954C7, 935px 1802px #2954C7,
    1330px 1820px #2954C7, 421px 1933px #2954C7, 828px 365px #2954C7, 275px 316px #2954C7,
    707px 960px #2954C7, 1605px 1554px #2954C7, 625px 58px #2954C7, 717px 1697px #2954C7,
    1669px 246px #2954C7, 1925px 322px #2954C7, 1154px 1803px #2954C7, 1929px 295px #2954C7,
    1248px 240px #2954C7, 1045px 1755px #2954C7, 166px 942px #2954C7, 1888px 1773px #2954C7,
    678px 1963px #2954C7, 1370px 569px #2954C7, 1974px 1400px #2954C7, 1786px 460px #2954C7,
    51px 307px #2954C7, 784px 1400px #2954C7, 730px 1258px #2954C7, 1712px 393px #2954C7,
    416px 170px #2954C7, 1797px 1932px #2954C7, 572px 219px #2954C7, 1557px 1856px #2954C7,
    218px 8px #2954C7, 348px 1334px #2954C7, 469px 413px #2954C7, 385px 1738px #2954C7,
    1357px 1818px #2954C7, 240px 942px #2954C7, 248px 1847px #2954C7, 1535px 806px #2954C7,
    236px 1514px #2954C7, 1429px 1556px #2954C7, 73px 1633px #2954C7, 1398px 1121px #2954C7,
    671px 1301px #2954C7, 1404px 1663px #2954C7, 740px 1018px #2954C7, 1600px 377px #2954C7,
    785px 514px #2954C7, 112px 1084px #2954C7, 1915px 1887px #2954C7, 1463px 1848px #2954C7,
    687px 1115px #2954C7, 1268px 1768px #2954C7, 1729px 1425px #2954C7,
    1284px 1022px #2954C7, 801px 974px #2954C7, 1975px 1317px #2954C7, 1354px 834px #2954C7,
    1446px 1484px #2954C7, 1283px 1786px #2954C7, 11px 523px #2954C7, 1842px 236px #2954C7,
    1355px 654px #2954C7, 429px 7px #2954C7, 1033px 1128px #2954C7, 157px 297px #2954C7,
    545px 635px #2954C7, 52px 1080px #2954C7, 827px 1520px #2954C7, 1121px 490px #2954C7,
    9px 309px #2954C7, 1744px 1586px #2954C7, 1014px 417px #2954C7, 1534px 524px #2954C7,
    958px 552px #2954C7, 1403px 1496px #2954C7, 387px 703px #2954C7, 1522px 548px #2954C7,
    1355px 282px #2954C7, 1532px 601px #2954C7, 1838px 790px #2954C7, 290px 259px #2954C7,
    295px 598px #2954C7, 1601px 539px #2954C7, 1561px 1272px #2954C7, 34px 1922px #2954C7,
    1024px 543px #2954C7, 467px 369px #2954C7, 722px 333px #2954C7, 1976px 1255px #2954C7,
    766px 983px #2954C7, 1582px 1285px #2954C7, 12px 512px #2954C7, 617px 1410px #2954C7,
    682px 577px #2954C7, 1334px 1438px #2954C7, 439px 327px #2954C7, 1617px 1661px #2954C7,
    673px 129px #2954C7, 794px 941px #2954C7, 1386px 1902px #2954C7, 37px 1353px #2954C7,
    1467px 1353px #2954C7, 416px 18px #2954C7, 187px 344px #2954C7, 200px 1898px #2954C7,
    1491px 1619px #2954C7, 811px 347px #2954C7, 924px 1827px #2954C7, 945px 217px #2954C7,
    1735px 1228px #2954C7, 379px 1890px #2954C7, 79px 761px #2954C7, 825px 1837px #2954C7,
    1980px 1558px #2954C7, 1308px 1573px #2954C7, 1488px 1726px #2954C7,
    382px 1208px #2954C7, 522px 595px #2954C7, 1277px 1898px #2954C7, 354px 552px #2954C7,
    161px 1784px #2954C7, 614px 251px #2954C7, 526px 1576px #2954C7, 17px 212px #2954C7,
    179px 996px #2954C7, 467px 1208px #2954C7, 1944px 1838px #2954C7, 1140px 1093px #2954C7,
    858px 1007px #2954C7, 200px 1064px #2954C7, 423px 1964px #2954C7, 1945px 439px #2954C7,
    1377px 689px #2954C7, 1120px 1437px #2954C7, 1876px 668px #2954C7, 907px 1324px #2954C7,
    343px 1976px #2954C7, 1816px 1501px #2954C7, 1849px 177px #2954C7, 647px 91px #2954C7,
    1984px 1012px #2954C7, 1336px 1300px #2954C7, 128px 648px #2954C7, 305px 1060px #2954C7,
    1324px 826px #2954C7, 1263px 1314px #2954C7, 1801px 629px #2954C7, 1614px 1555px #2954C7,
    1634px 90px #2954C7, 1603px 452px #2954C7, 891px 1984px #2954C7, 1556px 1906px #2954C7,
    121px 68px #2954C7, 1676px 1714px #2954C7, 516px 936px #2954C7, 1947px 1492px #2954C7,
    1455px 1519px #2954C7, 45px 602px #2954C7, 205px 1039px #2954C7, 793px 172px #2954C7,
    1562px 1739px #2954C7, 1056px 110px #2954C7, 1512px 379px #2954C7, 1795px 1621px #2954C7,
    1848px 607px #2954C7, 262px 1719px #2954C7, 477px 991px #2954C7, 483px 883px #2954C7,
    1239px 1197px #2954C7, 1496px 647px #2954C7, 1649px 25px #2954C7, 1491px 1946px #2954C7,
    119px 996px #2954C7, 179px 1472px #2954C7, 1341px 808px #2954C7, 1565px 1700px #2954C7,
    407px 1544px #2954C7, 1754px 357px #2954C7, 1288px 981px #2954C7, 902px 1997px #2954C7,
    1755px 1668px #2954C7, 186px 877px #2954C7, 1202px 1882px #2954C7, 461px 1213px #2954C7,
    1400px 748px #2954C7, 1969px 1899px #2954C7, 809px 522px #2954C7, 514px 1219px #2954C7,
    374px 275px #2954C7, 938px 1973px #2954C7, 357px 552px #2954C7, 144px 1722px #2954C7,
    1572px 912px #2954C7, 402px 1858px #2954C7, 1544px 1195px #2954C7, 667px 1257px #2954C7,
    727px 1496px #2954C7, 993px 232px #2954C7, 1772px 313px #2954C7, 1040px 1590px #2954C7,
    1204px 1973px #2954C7, 1268px 79px #2954C7, 1555px 1048px #2954C7, 986px 1707px #2954C7,
    978px 1710px #2954C7, 713px 360px #2954C7, 407px 863px #2954C7, 461px 736px #2954C7,
    284px 1608px #2954C7, 103px 430px #2954C7, 1283px 1319px #2954C7, 977px 1186px #2954C7,
    1966px 1516px #2954C7, 1287px 1129px #2954C7, 70px 1098px #2954C7, 1189px 889px #2954C7,
    1126px 1734px #2954C7, 309px 1292px #2954C7, 879px 764px #2954C7, 65px 473px #2954C7,
    1003px 1959px #2954C7, 658px 791px #2954C7, 402px 1576px #2954C7, 35px 622px #2954C7,
    529px 1589px #2954C7, 164px 666px #2954C7, 1876px 1290px #2954C7, 1541px 526px #2954C7,
    270px 1297px #2954C7, 440px 865px #2954C7, 1500px 802px #2954C7, 182px 1754px #2954C7,
    1264px 892px #2954C7, 272px 1249px #2954C7, 1289px 1535px #2954C7, 190px 1646px #2954C7,
    955px 242px #2954C7, 1456px 1597px #2954C7, 1727px 1983px #2954C7, 635px 801px #2954C7,
    226px 455px #2954C7, 1396px 1710px #2954C7, 849px 1863px #2954C7, 237px 1264px #2954C7,
    839px 140px #2954C7, 1122px 735px #2954C7, 1280px 15px #2954C7, 1318px 242px #2954C7,
    1819px 1148px #2954C7, 333px 1392px #2954C7, 1949px 553px #2954C7, 1878px 1332px #2954C7,
    467px 548px #2954C7, 1812px 1082px #2954C7, 1067px 193px #2954C7, 243px 156px #2954C7,
    483px 1616px #2954C7, 1714px 933px #2954C7, 759px 1800px #2954C7, 1822px 995px #2954C7,
    1877px 572px #2954C7, 581px 1084px #2954C7, 107px 732px #2954C7, 642px 1837px #2954C7,
    166px 1493px #2954C7, 1555px 198px #2954C7, 819px 307px #2954C7, 947px 345px #2954C7,
    827px 224px #2954C7, 927px 1394px #2954C7, 540px 467px #2954C7, 1093px 405px #2954C7,
    1140px 927px #2954C7, 130px 529px #2954C7, 33px 1980px #2954C7, 1147px 1663px #2954C7,
    1616px 1436px #2954C7, 528px 710px #2954C7, 798px 1100px #2954C7, 505px 1480px #2954C7,
    899px 641px #2954C7, 1909px 1949px #2954C7, 1311px 964px #2954C7, 979px 1301px #2954C7,
    1393px 969px #2954C7, 1793px 1886px #2954C7, 292px 357px #2954C7, 1196px 1718px #2954C7,
    1290px 1994px #2954C7, 537px 1973px #2954C7, 1181px 1674px #2954C7,
    1740px 1566px #2954C7, 1307px 265px #2954C7, 922px 522px #2954C7, 1892px 472px #2954C7,
    384px 1746px #2954C7, 392px 1098px #2954C7, 647px 548px #2954C7, 390px 1498px #2954C7,
    1246px 138px #2954C7, 730px 876px #2954C7, 192px 1472px #2954C7, 1790px 1789px #2954C7,
    928px 311px #2954C7, 1253px 1647px #2954C7, 747px 1921px #2954C7, 1561px 1025px #2954C7,
    1533px 1292px #2954C7, 1985px 195px #2954C7, 728px 729px #2954C7, 1712px 1936px #2954C7,
    512px 1717px #2954C7, 1528px 483px #2954C7, 313px 1642px #2954C7, 281px 1849px #2954C7,
    1212px 799px #2954C7, 435px 1191px #2954C7, 1422px 611px #2954C7, 1718px 1964px #2954C7,
    411px 944px #2954C7, 210px 636px #2954C7, 1502px 1295px #2954C7, 1434px 349px #2954C7,
    769px 60px #2954C7, 747px 1053px #2954C7, 789px 504px #2954C7, 1436px 1264px #2954C7,
    1893px 1225px #2954C7, 1394px 1788px #2954C7, 1108px 1317px #2954C7,
    1673px 1395px #2954C7, 854px 1010px #2954C7, 1705px 80px #2954C7, 1858px 148px #2954C7,
    1729px 344px #2954C7, 1388px 664px #2954C7, 895px 406px #2954C7, 1479px 157px #2954C7,
    1441px 1157px #2954C7, 552px 1900px #2954C7, 516px 364px #2954C7, 1647px 189px #2954C7,
    1427px 1071px #2954C7, 785px 729px #2954C7, 1080px 1710px #2954C7, 504px 204px #2954C7,
    1177px 1622px #2954C7, 657px 34px #2954C7, 1296px 1099px #2954C7, 248px 180px #2954C7,
    1212px 1568px #2954C7, 667px 1562px #2954C7, 695px 841px #2954C7, 1608px 1247px #2954C7,
    751px 882px #2954C7, 87px 167px #2954C7, 607px 1368px #2954C7, 1363px 1203px #2954C7,
    1836px 317px #2954C7, 1668px 1703px #2954C7, 830px 1154px #2954C7, 1721px 1398px #2954C7,
    1601px 1280px #2954C7, 976px 874px #2954C7, 1743px 254px #2954C7, 1020px 1815px #2954C7,
    1670px 1766px #2954C7, 1890px 735px #2954C7, 1379px 136px #2954C7, 1864px 695px #2954C7,
    206px 965px #2954C7, 1404px 1932px #2954C7, 1923px 1360px #2954C7, 247px 682px #2954C7,
    519px 1708px #2954C7, 645px 750px #2954C7, 1164px 1204px #2954C7, 834px 323px #2954C7,
    172px 1350px #2954C7, 213px 972px #2954C7, 1837px 190px #2954C7, 285px 1806px #2954C7,
    1047px 1299px #2954C7, 1548px 825px #2954C7, 1730px 324px #2954C7, 1346px 1909px #2954C7,
    772px 270px #2954C7, 345px 1190px #2954C7, 478px 1433px #2954C7, 1479px 25px #2954C7,
    1994px 1830px #2954C7, 1744px 732px #2954C7, 20px 1635px #2954C7, 690px 1795px #2954C7,
    1594px 569px #2954C7, 579px 245px #2954C7, 1398px 733px #2954C7, 408px 1352px #2954C7,
    1774px 120px #2954C7, 1152px 1370px #2954C7, 1698px 1810px #2954C7, 710px 1450px #2954C7,
    665px 286px #2954C7, 493px 1720px #2954C7, 786px 5px #2954C7, 637px 1140px #2954C7,
    764px 324px #2954C7, 927px 310px #2954C7, 938px 1424px #2954C7, 1884px 744px #2954C7,
    913px 462px #2954C7, 1831px 1936px #2954C7, 1527px 249px #2954C7, 36px 1381px #2954C7,
    1597px 581px #2954C7, 1530px 355px #2954C7, 949px 459px #2954C7, 799px 828px #2954C7,
    242px 1471px #2954C7, 654px 797px #2954C7, 796px 594px #2954C7, 1365px 678px #2954C7,
    752px 23px #2954C7, 1630px 541px #2954C7, 982px 72px #2954C7, 1733px 1831px #2954C7,
    21px 412px #2954C7, 775px 998px #2954C7, 335px 1945px #2954C7, 264px 583px #2954C7,
    158px 1311px #2954C7, 528px 164px #2954C7, 1978px 574px #2954C7, 717px 1203px #2954C7,
    734px 1591px #2954C7, 1555px 820px #2954C7, 16px 1943px #2954C7, 1625px 1177px #2954C7,
    1236px 690px #2954C7, 1585px 1590px #2954C7, 1737px 1728px #2954C7, 721px 698px #2954C7,
    1804px 1186px #2954C7, 166px 980px #2954C7, 1850px 230px #2954C7, 330px 1712px #2954C7,
    95px 797px #2954C7, 1948px 1078px #2954C7, 469px 939px #2954C7, 1269px 1899px #2954C7,
    955px 1220px #2954C7, 1137px 1075px #2954C7, 312px 1293px #2954C7, 986px 1762px #2954C7,
    1103px 1238px #2954C7, 428px 1993px #2954C7, 355px 570px #2954C7, 977px 1836px #2954C7,
    1395px 1092px #2954C7, 276px 913px #2954C7, 1743px 656px #2954C7, 773px 502px #2954C7,
    1686px 1322px #2954C7, 1516px 1945px #2954C7, 1334px 501px #2954C7, 266px 156px #2954C7,
    455px 655px #2954C7, 798px 72px #2954C7, 1059px 1259px #2954C7, 1402px 1687px #2954C7,
    236px 1329px #2954C7, 1455px 786px #2954C7, 146px 1228px #2954C7, 1851px 823px #2954C7,
    1062px 100px #2954C7, 1220px 953px #2954C7, 20px 1826px #2954C7, 36px 1063px #2954C7,
    1525px 338px #2954C7, 790px 1521px #2954C7, 741px 1099px #2954C7, 288px 1489px #2954C7,
    700px 1060px #2954C7, 390px 1071px #2954C7, 411px 1036px #2954C7, 1853px 1072px #2954C7,
    1446px 1085px #2954C7, 1164px 874px #2954C7, 924px 925px #2954C7, 291px 271px #2954C7,
    1257px 1964px #2954C7, 1580px 1352px #2954C7, 1507px 1216px #2954C7, 211px 956px #2954C7,
    985px 1195px #2954C7, 975px 1640px #2954C7, 518px 101px #2954C7, 663px 1395px #2954C7,
    914px 532px #2954C7, 145px 1320px #2954C7, 69px 1397px #2954C7, 982px 523px #2954C7,
    257px 725px #2954C7, 1599px 831px #2954C7, 1636px 1513px #2954C7, 1250px 1158px #2954C7,
    1132px 604px #2954C7, 183px 102px #2954C7, 1057px 318px #2954C7, 1247px 1835px #2954C7,
    1983px 1110px #2954C7, 1077px 1455px #2954C7, 921px 1770px #2954C7, 806px 1350px #2954C7,
    1938px 1992px #2954C7, 855px 1260px #2954C7, 902px 1345px #2954C7, 658px 1908px #2954C7,
    1845px 679px #2954C7, 712px 1482px #2954C7, 595px 950px #2954C7, 1784px 1992px #2954C7,
    1847px 1785px #2954C7, 691px 1004px #2954C7, 175px 1179px #2954C7, 1666px 1911px #2954C7,
    41px 61px #2954C7, 971px 1080px #2954C7, 1830px 1450px #2954C7, 1351px 1518px #2954C7,
    1257px 99px #2954C7, 1395px 1498px #2954C7, 1117px 252px #2954C7, 1779px 597px #2954C7,
    1346px 729px #2954C7, 1108px 1144px #2954C7, 402px 691px #2954C7, 72px 496px #2954C7,
    1673px 1604px #2954C7, 1497px 974px #2954C7, 1865px 1664px #2954C7, 88px 806px #2954C7,
    918px 77px #2954C7, 244px 1118px #2954C7, 256px 1820px #2954C7, 1851px 1840px #2954C7,
    605px 1851px #2954C7, 634px 383px #2954C7, 865px 37px #2954C7, 943px 1024px #2954C7,
    1951px 177px #2954C7, 1097px 523px #2954C7, 985px 1700px #2954C7, 1243px 122px #2954C7,
    768px 1070px #2954C7, 468px 194px #2954C7, 320px 1867px #2954C7, 1850px 185px #2954C7,
    380px 1616px #2954C7, 468px 1294px #2954C7, 1122px 1743px #2954C7, 884px 299px #2954C7,
    1300px 1917px #2954C7, 1860px 396px #2954C7, 1270px 990px #2954C7, 529px 733px #2954C7,
    1975px 1347px #2954C7, 1885px 685px #2954C7, 226px 506px #2954C7, 651px 878px #2954C7,
    1323px 680px #2954C7, 1284px 680px #2954C7, 238px 1967px #2954C7, 911px 174px #2954C7,
    1111px 521px #2954C7, 1150px 85px #2954C7, 794px 502px #2954C7, 484px 1856px #2954C7,
    1809px 368px #2954C7, 112px 953px #2954C7, 590px 1009px #2954C7, 1655px 311px #2954C7,
    100px 1026px #2954C7, 1803px 352px #2954C7, 865px 306px #2954C7, 1077px 1019px #2954C7,
    1335px 872px #2954C7, 1647px 1298px #2954C7, 1233px 1387px #2954C7, 698px 1036px #2954C7,
    659px 1860px #2954C7, 388px 1412px #2954C7, 1212px 458px #2954C7, 755px 1468px #2954C7,
    696px 1654px #2954C7, 1144px 60px #2954C7;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 1000s linear infinite;
    box-shadow: 1448px 320px #2954C7, 1775px 1663px #2954C7, 332px 1364px #2954C7,
    878px 340px #2954C7, 569px 1832px #2954C7, 1422px 1684px #2954C7, 1946px 1907px #2954C7,
    121px 979px #2954C7, 1044px 1069px #2954C7, 463px 381px #2954C7, 423px 112px #2954C7,
    523px 1179px #2954C7, 779px 654px #2954C7, 1398px 694px #2954C7, 1085px 1464px #2954C7,
    1599px 1869px #2954C7, 801px 1882px #2954C7, 779px 1231px #2954C7, 552px 932px #2954C7,
    1057px 1196px #2954C7, 282px 1280px #2954C7, 496px 1986px #2954C7, 1833px 1120px #2954C7,
    1802px 1293px #2954C7, 6px 1696px #2954C7, 412px 1902px #2954C7, 605px 438px #2954C7,
    24px 1212px #2954C7, 234px 1320px #2954C7, 544px 344px #2954C7, 1107px 170px #2954C7,
    1603px 196px #2954C7, 905px 648px #2954C7, 68px 1458px #2954C7, 649px 1969px #2954C7,
    744px 675px #2954C7, 1127px 478px #2954C7, 714px 1814px #2954C7, 1486px 526px #2954C7,
    270px 1636px #2954C7, 1931px 149px #2954C7, 1807px 378px #2954C7, 8px 390px #2954C7,
    1415px 699px #2954C7, 1473px 1211px #2954C7, 1590px 141px #2954C7, 270px 1705px #2954C7,
    69px 1423px #2954C7, 1108px 1053px #2954C7, 1946px 128px #2954C7, 371px 371px #2954C7,
    1490px 220px #2954C7, 357px 1885px #2954C7, 363px 363px #2954C7, 1896px 1256px #2954C7,
    1979px 1050px #2954C7, 947px 1342px #2954C7, 1754px 242px #2954C7, 514px 974px #2954C7,
    65px 1477px #2954C7, 1840px 547px #2954C7, 950px 695px #2954C7, 459px 1150px #2954C7,
    1124px 1502px #2954C7, 481px 940px #2954C7, 680px 839px #2954C7, 797px 1169px #2954C7,
    1977px 1491px #2954C7, 734px 1724px #2954C7, 210px 298px #2954C7, 816px 628px #2954C7,
    686px 770px #2954C7, 1721px 267px #2954C7, 1663px 511px #2954C7, 1481px 1141px #2954C7,
    582px 248px #2954C7, 1308px 953px #2954C7, 628px 657px #2954C7, 897px 1535px #2954C7,
    270px 931px #2954C7, 791px 467px #2954C7, 1336px 1732px #2954C7, 1013px 1653px #2954C7,
    1911px 956px #2954C7, 587px 816px #2954C7, 83px 456px #2954C7, 930px 1478px #2954C7,
    1587px 1694px #2954C7, 614px 1200px #2954C7, 302px 1782px #2954C7, 1711px 1432px #2954C7,
    443px 904px #2954C7, 1666px 714px #2954C7, 1588px 1167px #2954C7, 273px 1075px #2954C7,
    1679px 461px #2954C7, 721px 664px #2954C7, 1202px 10px #2954C7, 166px 1126px #2954C7,
    331px 1628px #2954C7, 430px 1565px #2954C7, 1585px 509px #2954C7, 640px 38px #2954C7,
    822px 837px #2954C7, 1760px 1664px #2954C7, 1122px 1458px #2954C7, 398px 131px #2954C7,
    689px 285px #2954C7, 460px 652px #2954C7, 1627px 365px #2954C7, 348px 1648px #2954C7,
    819px 1946px #2954C7, 981px 1917px #2954C7, 323px 76px #2954C7, 979px 684px #2954C7,
    887px 536px #2954C7, 1348px 1596px #2954C7, 1055px 666px #2954C7, 1402px 1797px #2954C7,
    1300px 1055px #2954C7, 937px 238px #2954C7, 1474px 1815px #2954C7, 1144px 1710px #2954C7,
    1629px 1087px #2954C7, 911px 919px #2954C7, 771px 819px #2954C7, 403px 720px #2954C7,
    163px 736px #2954C7, 1062px 238px #2954C7, 1774px 818px #2954C7, 1874px 1178px #2954C7,
    1177px 699px #2954C7, 1244px 1244px #2954C7, 1371px 58px #2954C7, 564px 1515px #2954C7,
    1824px 487px #2954C7, 929px 702px #2954C7, 394px 1348px #2954C7, 1161px 641px #2954C7,
    219px 1841px #2954C7, 358px 941px #2954C7, 140px 1759px #2954C7, 1019px 1345px #2954C7,
    274px 436px #2954C7, 1433px 1605px #2954C7, 1798px 1426px #2954C7, 294px 1848px #2954C7,
    1681px 1877px #2954C7, 1344px 1824px #2954C7, 1439px 1632px #2954C7,
    161px 1012px #2954C7, 1308px 588px #2954C7, 1789px 582px #2954C7, 721px 1910px #2954C7,
    318px 218px #2954C7, 607px 319px #2954C7, 495px 535px #2954C7, 1552px 1575px #2954C7,
    1562px 67px #2954C7, 403px 926px #2954C7, 1096px 1800px #2954C7, 1814px 1709px #2954C7,
    1882px 1831px #2954C7, 533px 46px #2954C7, 823px 969px #2954C7, 530px 165px #2954C7,
    1030px 352px #2954C7, 1681px 313px #2954C7, 338px 115px #2954C7, 1607px 211px #2954C7,
    1718px 1184px #2954C7, 1589px 659px #2954C7, 278px 355px #2954C7, 464px 1464px #2954C7,
    1165px 277px #2954C7, 950px 694px #2954C7, 1746px 293px #2954C7, 793px 911px #2954C7,
    528px 773px #2954C7, 1883px 1694px #2954C7, 748px 182px #2954C7, 1924px 1531px #2954C7,
    100px 636px #2954C7, 1473px 1445px #2954C7, 1264px 1244px #2954C7, 850px 1377px #2954C7,
    987px 1976px #2954C7, 933px 1761px #2954C7, 922px 1270px #2954C7, 500px 396px #2954C7,
    1324px 8px #2954C7, 1967px 1814px #2954C7, 1072px 1401px #2954C7, 961px 37px #2954C7,
    156px 81px #2954C7, 1915px 502px #2954C7, 1076px 1846px #2954C7, 152px 1669px #2954C7,
    986px 1529px #2954C7, 1667px 1137px #2954C7;
}

#stars2:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1448px 320px #2954C7, 1775px 1663px #2954C7, 332px 1364px #2954C7,
    878px 340px #2954C7, 569px 1832px #2954C7, 1422px 1684px #2954C7, 1946px 1907px #2954C7,
    121px 979px #2954C7, 1044px 1069px #2954C7, 463px 381px #2954C7, 423px 112px #2954C7,
    523px 1179px #2954C7, 779px 654px #2954C7, 1398px 694px #2954C7, 1085px 1464px #2954C7,
    1599px 1869px #2954C7, 801px 1882px #2954C7, 779px 1231px #2954C7, 552px 932px #2954C7,
    1057px 1196px #2954C7, 282px 1280px #2954C7, 496px 1986px #2954C7, 1833px 1120px #2954C7,
    1802px 1293px #2954C7, 6px 1696px #2954C7, 412px 1902px #2954C7, 605px 438px #2954C7,
    24px 1212px #2954C7, 234px 1320px #2954C7, 544px 344px #2954C7, 1107px 170px #2954C7,
    1603px 196px #2954C7, 905px 648px #2954C7, 68px 1458px #2954C7, 649px 1969px #2954C7,
    744px 675px #2954C7, 1127px 478px #2954C7, 714px 1814px #2954C7, 1486px 526px #2954C7,
    270px 1636px #2954C7, 1931px 149px #2954C7, 1807px 378px #2954C7, 8px 390px #2954C7,
    1415px 699px #2954C7, 1473px 1211px #2954C7, 1590px 141px #2954C7, 270px 1705px #2954C7,
    69px 1423px #2954C7, 1108px 1053px #2954C7, 1946px 128px #2954C7, 371px 371px #2954C7,
    1490px 220px #2954C7, 357px 1885px #2954C7, 363px 363px #2954C7, 1896px 1256px #2954C7,
    1979px 1050px #2954C7, 947px 1342px #2954C7, 1754px 242px #2954C7, 514px 974px #2954C7,
    65px 1477px #2954C7, 1840px 547px #2954C7, 950px 695px #2954C7, 459px 1150px #2954C7,
    1124px 1502px #2954C7, 481px 940px #2954C7, 680px 839px #2954C7, 797px 1169px #2954C7,
    1977px 1491px #2954C7, 734px 1724px #2954C7, 210px 298px #2954C7, 816px 628px #2954C7,
    686px 770px #2954C7, 1721px 267px #2954C7, 1663px 511px #2954C7, 1481px 1141px #2954C7,
    582px 248px #2954C7, 1308px 953px #2954C7, 628px 657px #2954C7, 897px 1535px #2954C7,
    270px 931px #2954C7, 791px 467px #2954C7, 1336px 1732px #2954C7, 1013px 1653px #2954C7,
    1911px 956px #2954C7, 587px 816px #2954C7, 83px 456px #2954C7, 930px 1478px #2954C7,
    1587px 1694px #2954C7, 614px 1200px #2954C7, 302px 1782px #2954C7, 1711px 1432px #2954C7,
    443px 904px #2954C7, 1666px 714px #2954C7, 1588px 1167px #2954C7, 273px 1075px #2954C7,
    1679px 461px #2954C7, 721px 664px #2954C7, 1202px 10px #2954C7, 166px 1126px #2954C7,
    331px 1628px #2954C7, 430px 1565px #2954C7, 1585px 509px #2954C7, 640px 38px #2954C7,
    822px 837px #2954C7, 1760px 1664px #2954C7, 1122px 1458px #2954C7, 398px 131px #2954C7,
    689px 285px #2954C7, 460px 652px #2954C7, 1627px 365px #2954C7, 348px 1648px #2954C7,
    819px 1946px #2954C7, 981px 1917px #2954C7, 323px 76px #2954C7, 979px 684px #2954C7,
    887px 536px #2954C7, 1348px 1596px #2954C7, 1055px 666px #2954C7, 1402px 1797px #2954C7,
    1300px 1055px #2954C7, 937px 238px #2954C7, 1474px 1815px #2954C7, 1144px 1710px #2954C7,
    1629px 1087px #2954C7, 911px 919px #2954C7, 771px 819px #2954C7, 403px 720px #2954C7,
    163px 736px #2954C7, 1062px 238px #2954C7, 1774px 818px #2954C7, 1874px 1178px #2954C7,
    1177px 699px #2954C7, 1244px 1244px #2954C7, 1371px 58px #2954C7, 564px 1515px #2954C7,
    1824px 487px #2954C7, 929px 702px #2954C7, 394px 1348px #2954C7, 1161px 641px #2954C7,
    219px 1841px #2954C7, 358px 941px #2954C7, 140px 1759px #2954C7, 1019px 1345px #2954C7,
    274px 436px #2954C7, 1433px 1605px #2954C7, 1798px 1426px #2954C7, 294px 1848px #2954C7,
    1681px 1877px #2954C7, 1344px 1824px #2954C7, 1439px 1632px #2954C7,
    161px 1012px #2954C7, 1308px 588px #2954C7, 1789px 582px #2954C7, 721px 1910px #2954C7,
    318px 218px #2954C7, 607px 319px #2954C7, 495px 535px #2954C7, 1552px 1575px #2954C7,
    1562px 67px #2954C7, 403px 926px #2954C7, 1096px 1800px #2954C7, 1814px 1709px #2954C7,
    1882px 1831px #2954C7, 533px 46px #2954C7, 823px 969px #2954C7, 530px 165px #2954C7,
    1030px 352px #2954C7, 1681px 313px #2954C7, 338px 115px #2954C7, 1607px 211px #2954C7,
    1718px 1184px #2954C7, 1589px 659px #2954C7, 278px 355px #2954C7, 464px 1464px #2954C7,
    1165px 277px #2954C7, 950px 694px #2954C7, 1746px 293px #2954C7, 793px 911px #2954C7,
    528px 773px #2954C7, 1883px 1694px #2954C7, 748px 182px #2954C7, 1924px 1531px #2954C7,
    100px 636px #2954C7, 1473px 1445px #2954C7, 1264px 1244px #2954C7, 850px 1377px #2954C7,
    987px 1976px #2954C7, 933px 1761px #2954C7, 922px 1270px #2954C7, 500px 396px #2954C7,
    1324px 8px #2954C7, 1967px 1814px #2954C7, 1072px 1401px #2954C7, 961px 37px #2954C7,
    156px 81px #2954C7, 1915px 502px #2954C7, 1076px 1846px #2954C7, 152px 1669px #2954C7,
    986px 1529px #2954C7, 1667px 1137px #2954C7;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 10050s linear infinte;
    box-shadow: 387px 1878px #2954C7, 760px 1564px #2954C7, 1487px 999px #2954C7,
    948px 1828px #2954C7, 1977px 1001px #2954C7, 1284px 1963px #2954C7, 656px 284px #2954C7,
    1268px 1635px #2954C7, 1820px 598px #2954C7, 642px 1900px #2954C7, 296px 57px #2954C7,
    921px 1620px #2954C7, 476px 1858px #2954C7, 658px 613px #2954C7, 1171px 1363px #2954C7,
    1419px 283px #2954C7, 1037px 731px #2954C7, 503px 663px #2954C7, 1562px 463px #2954C7,
    383px 1197px #2954C7, 1171px 1233px #2954C7, 876px 1768px #2954C7, 856px 1615px #2954C7,
    1375px 1924px #2954C7, 1725px 918px #2954C7, 952px 119px #2954C7, 768px 1212px #2954C7,
    992px 1462px #2954C7, 1929px 717px #2954C7, 1947px 755px #2954C7, 1818px 1123px #2954C7,
    1896px 1672px #2954C7, 460px 198px #2954C7, 256px 271px #2954C7, 752px 544px #2954C7,
    1222px 1859px #2954C7, 1851px 443px #2954C7, 313px 1858px #2954C7, 709px 446px #2954C7,
    1546px 697px #2954C7, 674px 1155px #2954C7, 1112px 130px #2954C7, 355px 1790px #2954C7,
    1496px 974px #2954C7, 1696px 480px #2954C7, 1316px 1265px #2954C7, 1645px 1063px #2954C7,
    1182px 237px #2954C7, 427px 1582px #2954C7, 859px 253px #2954C7, 458px 939px #2954C7,
    1517px 1644px #2954C7, 1943px 60px #2954C7, 212px 1650px #2954C7, 966px 1786px #2954C7,
    473px 712px #2954C7, 130px 76px #2954C7, 1417px 1186px #2954C7, 909px 1580px #2954C7,
    1913px 762px #2954C7, 204px 1143px #2954C7, 1998px 1057px #2954C7, 1468px 1301px #2954C7,
    144px 1676px #2954C7, 21px 1601px #2954C7, 382px 1362px #2954C7, 912px 753px #2954C7,
    1488px 1405px #2954C7, 802px 156px #2954C7, 174px 550px #2954C7, 338px 1366px #2954C7,
    1197px 774px #2954C7, 602px 486px #2954C7, 682px 1877px #2954C7, 348px 1503px #2954C7,
    407px 1139px #2954C7, 950px 1400px #2954C7, 922px 1139px #2954C7, 1697px 293px #2954C7,
    1238px 1281px #2954C7, 1038px 1197px #2954C7, 376px 1889px #2954C7,
    1255px 1680px #2954C7, 1008px 1316px #2954C7, 1538px 1447px #2954C7,
    1186px 874px #2954C7, 1967px 640px #2954C7, 1341px 19px #2954C7, 29px 1732px #2954C7,
    16px 1650px #2954C7, 1021px 1075px #2954C7, 723px 424px #2954C7, 1175px 41px #2954C7,
    494px 1957px #2954C7, 1296px 431px #2954C7, 175px 1507px #2954C7, 831px 121px #2954C7,
    498px 1947px #2954C7, 617px 880px #2954C7, 240px 403px #2954C7;
}

#stars3:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 387px 1878px #2954C7, 760px 1564px #2954C7, 1487px 999px #2954C7,
    948px 1828px #2954C7, 1977px 1001px #2954C7, 1284px 1963px #2954C7, 656px 284px #2954C7,
    1268px 1635px #2954C7, 1820px 598px #2954C7, 642px 1900px #2954C7, 296px 57px #2954C7,
    921px 1620px #2954C7, 476px 1858px #2954C7, 658px 613px #2954C7, 1171px 1363px #2954C7,
    1419px 283px #2954C7, 1037px 731px #2954C7, 503px 663px #2954C7, 1562px 463px #2954C7,
    383px 1197px #2954C7, 1171px 1233px #2954C7, 876px 1768px #2954C7, 856px 1615px #2954C7,
    1375px 1924px #2954C7, 1725px 918px #2954C7, 952px 119px #2954C7, 768px 1212px #2954C7,
    992px 1462px #2954C7, 1929px 717px #2954C7, 1947px 755px #2954C7, 1818px 1123px #2954C7,
    1896px 1672px #2954C7, 460px 198px #2954C7, 256px 271px #2954C7, 752px 544px #2954C7,
    1222px 1859px #2954C7, 1851px 443px #2954C7, 313px 1858px #2954C7, 709px 446px #2954C7,
    1546px 697px #2954C7, 674px 1155px #2954C7, 1112px 130px #2954C7, 355px 1790px #2954C7,
    1496px 974px #2954C7, 1696px 480px #2954C7, 1316px 1265px #2954C7, 1645px 1063px #2954C7,
    1182px 237px #2954C7, 427px 1582px #2954C7, 859px 253px #2954C7, 458px 939px #2954C7,
    1517px 1644px #2954C7, 1943px 60px #2954C7, 212px 1650px #2954C7, 966px 1786px #2954C7,
    473px 712px #2954C7, 130px 76px #2954C7, 1417px 1186px #2954C7, 909px 1580px #2954C7,
    1913px 762px #2954C7, 204px 1143px #2954C7, 1998px 1057px #2954C7, 1468px 1301px #2954C7,
    144px 1676px #2954C7, 21px 1601px #2954C7, 382px 1362px #2954C7, 912px 753px #2954C7,
    1488px 1405px #2954C7, 802px 156px #2954C7, 174px 550px #2954C7, 338px 1366px #2954C7,
    1197px 774px #2954C7, 602px 486px #2954C7, 682px 1877px #2954C7, 348px 1503px #2954C7,
    407px 1139px #2954C7, 950px 1400px #2954C7, 922px 1139px #2954C7, 1697px 293px #2954C7,
    1238px 1281px #2954C7, 1038px 1197px #2954C7, 376px 1889px #2954C7,
    1255px 1680px #2954C7, 1008px 1316px #2954C7, 1538px 1447px #2954C7,
    1186px 874px #2954C7, 1967px 640px #2954C7, 1341px 19px #2954C7, 29px 1732px #2954C7,
    16px 1650px #2954C7, 1021px 1075px #2954C7, 723px 424px #2954C7, 1175px 41px #2954C7,
    494px 1957px #2954C7, 1296px 431px #2954C7, 175px 1507px #2954C7, 831px 121px #2954C7,
    498px 1947px #2954C7, 617px 880px #2954C7, 240px 403px #2954C7;
}


@keyframes animStar {
    from {
        transform: translate(0px);
    }
    to {
        transform: translate(2000px);
    }
}