* {
    margin: 0;
}



body {
    overflow-x: hidden;
    background-color: #faf6f6;
}

a {
    text-decoration: none;
}

:root {
    --albastru-deschis: #2954C7;
    --galben: #F9FC61;
    --mov: #EF75FF;
    --albastru: #051130;
}

h1 {
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* TITLURI */

.sectiuneProiecte>h1 {
    font-size: 1.6rem;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    padding-left: 45px;
}

.sectiuneProiecte>p {
    color: var(--albastru-deschis);
    display: flex;
    align-self: flex-start;
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 45px;
    padding-top: 100px;
}



.sectiuneProiecte {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}

.overlay-menu {
    margin-top: 100px;
}

.containerProiecte {
    width: 100%;
    box-shadow: 2px 4px 8px 1px rgb(163, 160, 160);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:  flex-start;
    padding: 12px;
}

.instagram {
    display: flex;
}

.gmail {
    display: flex;
}


.containerProiecte>.gmail>h1 {
    font-size: 1.3rem;
        padding: 20px;
}

.containerProiecte>.instagram>h1 {
    font-size: 1.3rem;
    width: 100%;
        padding: 20px;
}

.containerProiecte>.gmail>img {
    display: flex;
    align-self: flex-start;
    width: 105px;
    padding: 10px;
    margin-left: 50px;
    padding-bottom: 40px;
}

.containerProiecte>.instagram>img {
    display: flex;
    align-self: flex-start;
    width: 105px;
    padding: 10px;
    margin-left: 50px;
}


/* TABLETE */


@media (min-width: 768px) {


    .sectiuneProiecte> .desen {
        padding-top: 0px;
        width: 70%;
    }


    .sectiuneProiecte>p {
        padding-top: 100px;
        font-size: 2rem;
    }

    .sectiuneProiecte>h1 {
        font-size: 2rem;
        width: 80%;
    }

    .containerProiecte>.instagram>h1 {
        font-size: 2rem;
        padding: 20px;
    }

    .containerProiecte>.gmail>h1 {
        font-size: 2rem;
        padding: 20px;
    }



    .containerProiecte>.gmail>img {
        display: flex;
        align-self: flex-start;
        width: 105px;
        padding: 10px;
        margin-left: 50px;
        padding-bottom: 40px;
    }

    .containerProiecte>.instagram>img {
        display: flex;
        align-self: flex-start;
        width: 105px;
        padding: 10px;
        margin-left: 50px;
    }
    


}


/* LAPTOP & DESKTOP */


@media (min-width: 1281px) {


    .containerProiecte>.gmail>img {
        display: flex;
        align-self: flex-start;
        width: 105px;
        padding: 10px;
        margin-left: 50px;
        padding-bottom: 40px;
    }

    .containerProiecte>.instagram>img {
        display: flex;
        align-self: flex-start;
        width: 105px;
        padding: 10px;
        margin-left: 50px;
    }

    .sectiuneProiecte> .desen {
        padding-top: 0px;
        width: 70%;
    }


    .sectiuneProiecte>p {
        padding-top: 100px;
        font-size: 2rem;
    }

    .sectiuneProiecte>h1 {
        padding-top: 20px;
        font-size: 3rem;
    }

    .containerProiecte {
        width: 95%;

    }
    


}


