/* 
General Stuff
*/

/* 
To DO:
Schimbat fonturi: p --> 1.30em
h2 --> 1.5em
aliniate cardurile
de schimbat imaginile in svg
*/

:root {
  --albastru-deschis: #2954C7;
  --galben: #F9FC61;
  --mov: #EF75FF;
  --albastru: #051130;
  --white: #FAF6F6;
}

/* 
S: I
*/

.card > img {
  align-self: flex-start;
    padding-right: 0;
    position: static;
}

#section-1 {
  height: 650px;
  max-width: 130vw;
  margin-top: 100px;
  padding: 5%;
  background-color: var(--albastru);
  background-image: url(imaginiServicii/img1.svg);
  background-repeat: no-repeat;
  background-position:bottom;
}

#section-1__content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

#section-1__content *{
  width: 100%;
}

#section-1  h1 {
  font-size: 1rem;
  color: var(--galben);
}

#section-1 h2 {
  font-size: 1.50rem;
  color:var(--white);
}

#section-1 p {
  font-size: 1rem;
  color: var(--white);
  font-weight: bold;
}
#section-1 h1, #section-1 h2, #section-1 p, #section-1 #section-1_afla-mai-multe-btn--link {
  margin: 10px 0;
}

#section-1 #section-1_afla-mai-multe-btn--link {
  display: block;
  width: 120px;
  height: 30px;
}

#section-1 #section-1_afla-mai-multe-btn--link button{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #F9FC61;
  border: none;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
}

#section-1 img {
  position: relative;
  align-self: center;
  max-width: 300px;
  
}

#section-2 #title{
  font-size: 2.25em;
  margin: 20px auto;
}

/* 
S: II
*/

#section-2 {
  display: flex;
  flex-direction: column;
}

#title {
  width: auto;
}

/* 
S: III
*/

#section-3 {
  display: flex;
  flex-direction: column;
}

#section-3_img {
  align-self: center;
  max-width: 300px;
  width: 75%;
}

/* 
S: II & III
*/

#section-2, #section-3 {
  margin: 0 5%;
  align-items: center;
}

.card.has-bg {
  box-shadow: 2px 2px 8px 1px rgb(163, 160, 160);
  width: 95%;
  height: auto;
  padding: 30px 0;
}

.card {
  margin: 50px 0;
  width: 95%;
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  width: 100%;
}

.card p {
  font-size: 1.25em;
  width: 100%;
}

.card.has-bg h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
}

.card.has-bg p {
  font-size: 1.25em;
  width: 80%;
  margin: 0 auto;
}

.card img{
  width: auto;
  height: 100px;
}

.card .txtSpacer h2 {
  font-size: 1.5em;
}

.card .txtSpacer p {
  font-size: 1.25em;
}


@media  (min-width: 768px) {
  #section-1 {
      padding: 2%;
      background-size: 400px;
  }
  
  #section-1 h1, #section-1 h2, #section-1 p, #section-1 #section-1_afla-mai-multe-btn--link {
    margin: 20px 0;
  }

  #section-1 #section-1__content h1 {
    font-size: 1.3rem;
    color: var(--galben);
  }
  
  #section-1 #section-1__content  h2 {
    font-size: 2rem;
    color:var(--white);
  }
  
  #section-1 #section-1__content p {
    font-size: 1.2rem;
    color: var(--white);
  }

  #section-1 #section-1__content #section-1_afla-mai-multe-btn--link {
    width: 150px;
    height: 40px;
  }
  
  #section-1 #section-1__content #section-1_afla-mai-multe-btn--link button{
   font-size: 1.25em;
  }

  .card .txtSpacer h2 {
    font-size: 1.5em;
  }
  
  .card .txtSpacer p {
    font-size: 1.3em;
  }

}

@media  (min-width: 1024px) {
  

  #section-1 {
    background-size: 475px;
    height: 850px;
    margin-bottom: 50px;
  }

  #section-1__content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }

  #section-1 h1, #section-1 h2, #section-1 p, #section-1 #section-1_afla-mai-multe-btn--link {
    margin: 20px 0;
  }

  #section-1 h1 {
    font-size: 1.3rem;
    color: var(--galben);
  }
  
  #section-1 h2 {
    font-size: 2.6rem;
    color:var(--white);
  }
  
  #section-1 p {
    font-size: 1.2em;
    color: var(--white);
  }


  #section-2, #section-3 {
    margin: 0 20%;
    align-items: start;
  }

  #section-2 .has-bg, #section-3 .has-bg {
    margin: 15px auto;
  }


  .card h2 {
    font-size: 1.75em;
  }
  
  .card p {
    font-size: 1.5em;
  }

  .card .txtSpacer h2 {
    font-size: 1.75em;
  }
  
  .card .txtSpacer p {
    font-size: 1.5em;
  }

  #section-3_img {
    max-width: 500px;
  }


.txtSpacer {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.firstTWO {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.firstTWO > .card {
  width: 48%;
}

#section-2_card-6, #section-3_card-4 {
  width: 100%;
}


}
