/* 
General Stuff
*/

/* 
To DO:
Schimbat fonturi: p --> 1.30em
h2 --> 1.5em
aliniate cardurile
de schimbat imaginile in svg
*/

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: #faf6f6;
  
}

a {
  text-decoration: none !important;
}



h1, h2, h3, h4, h5, h6 {
  width: 100%;
  font-family: 'Nunito', sans-serif;
}

p {
  color: #030303;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #030303;
}

:root {
  --albastru-deschis: #2954C7;
  --galben: #F9FC61;
  --mov: #EF75FF;
  --albastru: #051130;
  --white: #FAF6F6;
}

/* 
S: I
*/

.card > img {
  align-self: flex-start;
    padding-right: 0;
    position: static;
}

#section-1 {
  height: 650px;
  max-width: 130vw;
  margin-top: 120px;
  
  background-color: var(--albastru);
  background-repeat: no-repeat;
  background-position:bottom;
  height: 100%;
}

#section-1__content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

#section-1__content *{
  width: 100%;
}

#section-1__content > p {
  color: var(--galben);
}

#section-1__content > h2 {
  color: #fff;
  font-size: 1.1rem;
}


#section-1 h1 {
  font-size: 1.3rem;
  color: #fff;
}

#section-1 p {
  font-size: 1rem;
  color: var(--galben);
  font-weight: bold;
}


#section-1 h1, #section-1 h2, #section-1 p, #section-1 #section-1_afla-mai-multe-btn--link {
  margin: 10px 0;
}

#section-1 #section-1_afla-mai-multe-btn--link button {
  color: #030303;
}



#section-1 #section-1_afla-mai-multe-btn--link {
  display: block;
  width: 171px;
  height: 50px;
  color: #030303;
  text-decoration: none;
}

#section-1 #section-1_afla-mai-multe-btn--link button:hover  {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#section-1 #section-1_afla-mai-multe-btn--link button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

#section-1 #section-1_afla-mai-multe-btn--link button{
  padding-left: 14px;
    padding-right: 19px;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #F9FC61;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    animation: moveInBottom 1.2s ease-out;
}

#section-1 img {
  margin-top: 10px;
    z-index: 0;
    display: flex;
    justify-content: center;
  
}

#section-2 #title{
  font-size: 2.25em;
  margin: 20px auto;
  
}

/* 
S: II
*/

#section-2 {
  display: flex;
  flex-direction: column;
  
}

#title {
  width: auto;
}

/* 
S: III
*/

#section-3 {
  display: flex;
  flex-direction: column;
}

#section-3_img {
  align-self: center;
  width: 100%;
  
}

/* 
S: II & III
*/

#section-2, #section-3 {
  margin: 0 5%;
  align-items: center;
}

.card.has-bg {
  box-shadow: 2px 2px 8px 1px rgb(163, 160, 160);
  width: 95%;
  height: auto;
  padding: 30px 0;
}

.card {
  margin: 50px 0;
  width: 95%;
  
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  width: 100%;
  margin: 0 5%;
    align-items: center;
}

.card p {
  font-size: 1.25em;
  width: 100%;
  margin: 0 5%;
    align-items: center;
}

.card.has-bg h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  color: var(--albastru);
}

.card.has-bg p {
  font-size: 1.25em;
  width: 80%;
  margin: 0 auto;
}

.card img{
  width: auto;
  height: 100px;
  margin: 0 5%;
    align-items: center;
}

.card .txtSpacer h2 {
  font-size: 1.5em;
}

.card .txtSpacer p {
  font-size: 1.25em;
}


#section-2_card-2  img {
  margin: 0px;
}

#section-2_card-2  h2 {
  margin: 0px;
}

#section-2_card-2 p {
  margin: 0px;
}

@media  (min-width: 768px) {
  
  #section-1 p {
    font-size: 1.4rem;
    color: var(--galben);
    font-weight: bold;
  }
  
  #section-1 h1 {
    font-size: 2rem;
    color: #fff;
  }
  
  #section-1__content > h2 {
    color: #fff;
    font-size: 1.4rem;
  }
  
  #section-1 h1, #section-1 h2, #section-1 p, #section-1 #section-1_afla-mai-multe-btn--link {
    margin: 10px 0;
  }
  
  #section-1 #section-1_afla-mai-multe-btn--link {
    display: block;
    width: 171px;
    height: 50px;
  
  }
  
  #section-1 #section-1_afla-mai-multe-btn--link button{
    padding-left: 14px;
      padding-right: 19px;
      width: 100%;
      height: 100%;
      margin: 0;
      background-color: #F9FC61;
      border: none;
      border-radius: 5px;
      font-size: 1.1rem;
      font-weight: bold;
  }

  #section-2_card-1 > h2 {
      font-size: 1.8rem;
      text-align: center;
  }

  #section-2_card-1 > p {
    font-size: 1.4rem;
    text-align: center;
}

#section-2_card-2 > h2 {
  font-size: 1.8rem;
}

#section-2_card-2 > p {
  font-size: 1.4rem;
  text-align: left;
}


#section-2_card-3 > h2 {
  font-size: 1.8rem;
  text-align: center;
}

#section-2_card-3 > p {
font-size: 1.4rem;
text-align: center;
}



#section-2_card-4 h2{
  font-size: 1.8rem;
}

#section-2_card-4 p{
  font-size: 1.4rem;
}


#section-2_card-4_img  {
  margin: 0px;
}

.firstTWO h2 {
  margin: 0px;
}

.firstTWO p {
  margin: 0px;
}

  
  .card img{
    width: auto;
    height: 200px;
    margin: 0 5%;
      align-items: center;
  }
  
  .card .txtSpacer h2 {
    font-size: 1.5em;
  }
  
  .card .txtSpacer p {
    font-size: 1.25em;
  }
  

  #section-2_card-5 img {
    margin: 0px;
  }

  #section-2_card-5 img {
    margin: 0px;
  }

  #section-2_card-5 h2 {
    margin: 0px;
    font-size: 1.8rem;
  }


  #section-2_card-6 img {
    margin: 0px;
  }

  #section-2_card-6 h2 {
    margin: 0px;
    font-size: 1.8rem;
  }

  #section-2_card-6 p {
    margin: 0px;
    font-size: 1.4rem;
  }


  #section-3_card-1 h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  #section-3_card-1 p {
    font-size: 1.4rem;
    text-align: left;
  }

  #section-3_card-2 h2 {
    font-size: 1.8rem;
  }

  #section-3_card-2 p {
    font-size: 1.4rem;
  }

  #section-3_card-2 {
    margin: 0 3%;
    align-items: center;
  }

  #section-3_card-3 img {
    margin: 0px;
  }

  #section-3_card-3 h2 {
    font-size: 1.8rem;
    margin: 0px;
  }

  #section-3_card-3 p {
    font-size: 1.4rem;
    margin: 0px;
  }

  #section-3_card-3 {
    margin: 0% 3%;
    align-items: center;
    margin-top: 10%;

  }

#section-3_card-4 {
  margin: 0 5%;
}

#section-3_card-4 h2 {
  margin: 0px;
    font-size: 1.8rem;
  }

  #section-3_card-4 p {
    margin: 0px;
    font-size: 1.4rem;
  }

  #section-3_card-4 {
    margin: 10% 5%;
    align-items: center;
  }

  #section-3_card-4 img {
    margin: 0px;
    
  }



}

@media  (min-width: 1024px) {
  
  #section-1 {
    height: 953px;
  }

  #section-1 p {
    font-size: 1.4rem;
    color: var(--galben);
    font-weight: bold;
  }
  
  #section-1 h1 {
    font-size: 2rem;
    color: #fff;
  }
  
  #section-1__content > h2 {
    color: #fff;
    font-size: 1.4rem;
    width: 80%;
  }
  
  #section-1 h1, #section-1 h2, #section-1 p, #section-1 #section-1_afla-mai-multe-btn--link {
    margin: 10px 0;
  }
  
  #section-1 #section-1_afla-mai-multe-btn--link {
    display: block;
    width: 171px;
    height: 50px;
  
  }
  
  #section-1 #section-1_afla-mai-multe-btn--link button{
    padding-left: 14px;
      padding-right: 19px;
      width: 100%;
      height: 100%;
      margin: 0;
      background-color: #F9FC61;
      border: none;
      border-radius: 5px;
      font-size: 1.1rem;
      font-weight: bold;
  }

  #section-1 img {
    height: 520px;
  }


  #section-1__content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }

  #section-1 h1, #section-1 h2, #section-1 p, #section-1 #section-1_afla-mai-multe-btn--link {
    margin: 20px 0;
  }

  #section-1 h1 {
    font-size: 2rem;
  }
  
  
  #section-2 {
    margin-top: 100px;
  }

  #section-2, #section-3 {
    margin: 0 20%;
    align-items: start;
  }

  #section-2 .has-bg, #section-3 .has-bg {
    margin: 88px auto;
  }


  .card h2 {
    font-size: 1.75em;
  }
  
  .card p {
    font-size: 1.5em;
  }

  .card .txtSpacer h2 {
    font-size: 1.75em;
  }
  
  .card .txtSpacer p {
    font-size: 1.5em;
  }

  #section-3_img {
    max-width: 800px;
  }


.txtSpacer {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.firstTWO {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.firstTWO > .card {
  width: 48%;
}

#section-2_card-6, #section-3_card-4 {
  width: 100%;
}


#section-3_card-2 {
  margin: 0px;
}

#section-3_card-3 {
  margin: 0px;
}

#section-3_card-4 {
  margin: 0px;
  margin-bottom: 200px;
}

}
