* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    overflow-x: hidden;
    background-color: #faf6f6;
    
}

a {
    text-decoration: none;
}

:root {
    --albastru-deschis: #2954C7;
    --galben: #F9FC61;
    --mov: #EF75FF;
    --albastru: #051130;
}

h1 {
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* TITLURI */

.sectiuneProiecte {
    padding-top: 100px;
}

.sectiuneProiecte>h1 {
    font-size: 36px;
    width: 90%;
    text-align: center;
}

.sectiuneProiecte>p {
    color: var(--albastru-deschis);
    display: flex;
    align-self: flex-start;
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 45px;
}

.sectiuneProiecte>.containerProiecte>.chenarProiect > .desen {
    box-shadow: none;
    width: 100%;
}

.chenarProiect {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
    box-shadow: none;
}

.chenarProiect>.boxShadow {
    padding-bottom: 20px;
    box-shadow: 2px 4px 8px 1px rgb(163, 160, 160);
}



.sectiuneProiecte {
    display: flex;
    align-items: center;

    justify-content: center;
}


.chenarProiect>.boxShadow>h1 {
    width: 95%;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-top: 10px;

}

.chenarProiect>.boxShadow>button>a {
    font-weight: bold;
    font-size: 1rem;
    color: var(--albastru-deschis);
}

.chenarProiect>.boxShadow>button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}



.chenarProiect>.boxShadow>img {
    padding-top: 90px;
    padding-left: 20px;
    width: 90%;
}

.containerProiecte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* TABLETE */


@media (min-width: 768px) {

    .sectiuneProiecte>p {
        padding-top: 100px;
        padding-left: 335px;
    }

    .sectiuneProiecte>h1 {
        font-size: 3.5rem;
        width: 80%;
    }

    .chenarProiect {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-bottom: 250px;
        box-shadow: none;
    }


}


/* LAPTOP & DESKTOP */


@media (min-width: 1281px) {




    .sectiuneProiecte>p {
        padding-top: 100px;
        padding-left: 200px;
    }

    .sectiuneProiecte>h1 {
        padding-top: 20px;
        font-size: 4rem;
    }

    .chenarProiect {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-bottom: 350px;
        box-shadow: none;
    }

    .chenarProiect>.boxShadow>h1 {
        font-size: 2rem;
    }

    .chenarProiect>.boxShadow>button>a {
        font-size: 1.5rem;
    }


}



/* PORTOFOLIU  */
